@{
    Layout = "_AuthLayout";
}

<div class="col-md-8 col-lg-6 col-xxl-3" style="width:45%;">
    <div class="card mb-0">
        <div class="card-body">
            <a href="../" class="text-nowrap logo-img text-center d-block py-3 w-100">
                <img src="../assets/images/logos/booking-app.svg" width="180" alt="">
            </a>
            <p class="text-center">Book a Room Easily</p>
            <form>
                <!-- Email -->
                <div class="mb-3">
                    <label for="inputEmail" class="form-label">Email</label>
                    <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp">
                </div>
                <!-- Password -->
                <div class="mb-4">
                    <label for="inputPassword" class="form-label">Password</label>
                    <input type="password" class="form-control" id="inputPassword">
                </div>
                <!-- Remember and Forgot Password -->
                <div class="d-flex align-items-center justify-content-between mb-4">
                    <div class="form-check">
                        <input class="form-check-input primary" type="checkbox" value="" id="flexCheckChecked" checked>
                        <label class="form-check-label text-dark" for="flexCheckChecked">
                            Remeber this Device
                        </label>
                    </div>
                    <a class="text-primary fw-bold" href="./index.html">Forgot Password ?</a>
                </div>
                <!-- Sign In Button -->
                <a type="submit" class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2" id="loginBtn">Sign In</a>
                <!-- Direct to Register -->
                <div class="d-flex align-items-center justify-content-center">
                    <p class="fs-4 mb-0 fw-bold">New to BookingApp?</p>
                    <a class="text-primary fw-bold ms-2" href="../auth/register">Create an account</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/login.js" asp-append-version="true"></script>
}