@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!DOCTYPE html>
<html>
<head>
    <title>Unauthorized</title>
</head>
<body>
        <div class="container d-flex justify-content-center">
            <div class="card text-center mb-3" style="width: 60%;">
                <div class="card-body" style="background-color:lavender;">
                    <h1>401</h1>
                    <p style="font-size:18px">You are not permitted to access this page, please log in first.</p>
                </div>
            </div>
        </div>
</body>
</html>